/* /* body { */
  /* background-image: url("../src/assets/images/marvel-modern-4k-ultra-hd-wallpaper-1.jpg");
  background-image: url("../src/assets/images/Marvel_Logo.svg");
  /* background-position: absolute; */
  /* background-repeat: no-repeat; */
  /* background-size: 20% ; */
  /* position: center; */ 
/* } */



.App-link {
  color: lightgray;
  text-decoration: none;
}

.center-h {
  display:flex;
  justify-content: center;
  margin-top: 1em;
}

.center-v {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}

.card {
  margin-left: 3px;
  margin-right: 3px;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.paginator-h {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.card-img-top {
  margin-top: 5px;
}



h1.error-text {
  margin-top: 100px;
  background-image: url("../src/assets/images/marvel.gif");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 200px;
  color: lightgray;
}

.error-text {
  color: lightgray;
  display: flex;
  align-content: center;
  justify-content: center;
}

.space-between {
  display: flex;
  align-content: space-between;
}